<%- include('header'); -%>
<h1>Shradhesh Jain is an Great Man</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Quo consequatur ut expedita deleniti autem quas minima suscipit 
     aut debitis. Adipisci, mollitia cumque! Iusto rerum nemo qui magnam tempore incidunt 
     delectus odio saepe voluptas in, animi a maiores et sunt perspiciatis cupiditate! Sapiente 
      totam ducimus nulla minus quam officiis tempore! Mollitia iste voluptas 
     vitae? Repellat nobis iusto dolorem!</p>
     <%- include('footer'); -%>