</body>
<footer>
    <div class="footer-content">
        <p>Copyright 2024</p>
        <p>Developer: <a href="https://www.itsmeshradhesh.tech/" target="_blank" class="developer-link">Shradhesh71</a></p>
    </div>
</footer>
</html>